.ec-main {
  text-align: center;
  width: 90%;
  height: 15em;
  margin-top: 3em;
  margin: auto;
  .ec-text {
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  span {
    font-weight: 500;
  }
}
